# C extensions
*.so
scripts/txt
.vagrant

# Packages
*.egg
*.egg-info
*.pyc
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
.DS_Store
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# editor stuff
*.swp
~*

# see install.sh
_install.log

# Ignore pdfs and tar files
*.pdf

*.tar.gz


wsgi/settings.py
